html {
    background-color: lightblue;
}

h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

#paragraph2{
    border: 5px solid green;
    background-color: white;
    max-width: 52%;
    padding: 2em;
    line-height: 200%;
    margin: 1em;
}

h1 {
    font-weight: 700;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

em {
    font-style: italic;
}

.blue {
    border: 1px solid black;
    background-color: navy;
    color: white;
    padding: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

a[target=_blank]{
    color:red;
}

ol {
    list-style-type: decimal-leading-zero;
}
li a{
    color:darkblue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    background-color: lightgray;
}

td {
    border: 1px solid black;
    padding: 0.5em;
    background-color: white;
}
