header{
    background-color: #241b2f;
    color: white;
    position:fixed;
    width: 80%;
    font-size: 2em;
    z-index: 1000;
}

header button {
    background-color: #614D85;
    color: #ffffffCC;
    padding: 0.5em;
    margin-right: 0.25em;
    margin-left: 0.25em;
    font-size: 15px;
    outline: none;
    border: none;
}

header button:hover{
    background-color: #ff7edb;
}

header nav {
    background-color: #171520;
    text-align: center;
}

header p{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

#menuItems {
    display: block;
    text-align: center;
    margin: 0px;
    padding:0px;
    position: fixed;
    overflow-x: hidden;
    width: 20%;
    height:100%;
    background-color: #241b2f;
    line-height: 2;
}

#jumpMenu {
    display: none;
    color: white;
}

#recentArticles:hover~#jumpMenu{
    display:block;
    text-align: center;
    color: white;
}

#menuItems button{
    display:block;
    text-align: center;
    width: 100%;
    height: 6%;
    background-color: #614D85;
    border-style: none;
    font-size: 22px;
    font-weight: 500;
    color: #ffffffCC;
}

#menuItems button:hover{
    background-color: #ffffffCC;
}

#jumpMenu a{
    font-size: 2em;
    color: #ff7edb;
    text-decoration: none;
    display:block
}

#jumpMenu a:hover {
    color: #f97e72;
    background-color: #614D85;
    display:block
}

#jumpMenu:hover {
    display:block;
    text-align: center;
    color: white;
}

main {
    padding-left: 20%;
}

#thanks {
    position:fixed;
    z-index: 5;
    right: 2%;
    bottom: 2%;
    font-size: 32px;
    text-align: right;
    background-color: #614D85;
    color: #ffffffCC;
    max-width: 30%;
    padding: 1%;
}

#thanks a{
    color: white;
    text-decoration: none;
}

#thanks a:hover{
    color: #f97e72;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2em;
    line-height: 2;
    color: white;
    padding-bottom: 1em;
}

#container article {
    width: 350px;
    font-size: 16px;
    padding-bottom: 1.5%;
    border-top: 5px solid;
    padding-right: 1em;
    color: gray;
    max-height: 1200px;
    transition: width 2s ease-out, font-size 2s ease-out, color 2s ease-out;
    }

#container article:hover {
    color: #ffffffCC;
    font-size: 20px;
    width: 500px;
    transition: color 2s ease-in, font-size 2s ease-in, width 2s ease-in;
    max-height: 1200px;
}

#container a {
    color: #ff7edb;
    text-decoration: none;
}

#container a:hover{
    color: #f97e72;
}

#container a::after{
    content: "";
    background-image: url(arrow2.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 18px;
    width: 32px;
    height: 29px;
    scale: 1.25;
}

article p:first-of-type::first-letter{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    color: #ffffffCC;
    padding-bottom: 1em;
    padding-top: 10%;
}

body {
    margin: 0;
    padding: 0;
    top:10%;
    background-color: #262335;
}

html {
    margin:0;
    padding:0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    text-align: center;
    color: #ffffffCC;
    border-top: 5px solid;
    border-bottom: 5px solid;
    line-height: 2;
}

footer p{
    padding-top: 1.5%;
}

footer div {
    padding-bottom: 1.5%;
}

footer a {
    color: #ff7edb;
}

footer a:hover{
    color: #f97e72;
}
